Repository joomla/joomla-cms, pull requests merged in 2024-06, with the labels that each got.

#43575 [5.2] Usability: Back-end - Add item position and total count to Page Navigation
  administrator/language/en-GB/lib_joomla.ini
  language/en-GB/lib_joomla.ini
  layouts/joomla/pagination/links.php
Labels: RTC, Language Change, PR-5.2-dev

#42136 [5.2] Add languages API endpoint
  administrator/components/com_installer/src/Model/LanguagesModel.php
  api/components/com_installer/src/Controller/LanguagesController.php
  api/components/com_installer/src/View/Languages/JsonapiView.php
  tests/System/integration/api/com_languages/Languages.cy.js
Labels: RTC, Unit/System Tests, PBF, Webservices, PR-5.1-dev, PR-5.2-dev

#43577 [5.2] TinyMCE Accordion
  build/media_source/plg_editors_tinymce/js/tinymce-builder.es6.js
  plugins/editors/tinymce/src/PluginTraits/KnownButtons.php
  plugins/editors/tinymce/src/PluginTraits/ToolbarPresets.php
Labels: RTC, NPM Resource Changed, PR-5.2-dev

#43598 [6.0] Initial update script clean up for 6.0
  administrator/components/com_admin/script.php
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-03-11.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-03-17.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-07-12.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-07-25.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-07-29.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-08-21.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-08-26.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-08-28.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-08-29.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-08-30.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-09-02.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-09-06.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-09-09.sql
  administrator/components/com_admin/sql/updates/mysql/5.0.0-2023-09-11.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.0-2023-11-28.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.0-2024-01-04.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.0-2024-02-10.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.0-2024-02-24.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.0-2024-02-25.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.0-2024-03-08.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.0-2024-03-28.sql
  administrator/components/com_admin/sql/updates/mysql/5.1.1-2024-04-18.sql
  administrator/components/com_admin/sql/updates/mysql/6.0.0-2024-06-01.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-03-11.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-03-17.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-07-12.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-07-25.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-07-29.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-08-21.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-08-26.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-08-28.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-08-29.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-08-30.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-09-02.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-09-06.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-09-09.sql
  administrator/components/com_admin/sql/updates/postgresql/5.0.0-2023-09-11.sql
  administrator/components/com_admin/sql/updates/postgresql/5.1.0-2023-11-28.sql
  administrator/components/com_admin/sql/updates/postgresql/5.1.0-2024-02-10.sql
  administrator/components/com_admin/sql/updates/postgresql/5.1.0-2024-02-24.sql
  administrator/components/com_admin/sql/updates/postgresql/5.1.0-2024-02-25.sql
  administrator/components/com_admin/sql/updates/postgresql/5.1.0-2024-03-08.sql
  administrator/components/com_admin/sql/updates/postgresql/5.1.0-2024-03-28.sql
  administrator/components/com_admin/sql/updates/postgresql/5.1.1-2024-04-18.sql
  administrator/components/com_admin/sql/updates/postgresql/6.0.0-2024-06-01.sql
  build/deleted_file_check.php
Labels: PR-6.0-dev

#43466 Consider file permissions when writing configuration in system tests
  tests/System/README.md
  tests/System/plugins/fs.js
  tests/System/plugins/index.js
  tests/System/support/commands/config.js
Labels: Unit/System Tests, PR-4.4-dev

#43599 [5.2] Add missing Toggle inline help button to module modal
  administrator/components/com_modules/src/View/Module/HtmlView.php
Labels: RTC, PR-5.2-dev

#43588 Check if the identity is available when injecting into the local adapter
  plugins/filesystem/local/src/Extension/Local.php
Labels: RTC, bug, PR-5.1-dev

#43634 [6.0] Set version to 6.0.0-alpha1-dev
  administrator/language/en-GB/install.xml
  administrator/language/en-GB/langmetadata.xml
  administrator/manifests/files/joomla.xml
  administrator/manifests/packages/pkg_en-GB.xml
  api/language/en-GB/install.xml
  api/language/en-GB/langmetadata.xml
  build.xml
  installation/language/en-GB/langmetadata.xml
  language/en-GB/install.xml
  language/en-GB/langmetadata.xml
  libraries/src/Version.php
Labels: Language Change, PR-6.0-dev

#43604 Don't throw an error on Path::clean() if $metaPath isn't found
  administrator/components/com_menus/src/Model/ItemModel.php
Labels: PR-5.1-dev

#43647 [5.2] Upmerge 2024-06-13
  administrator/components/com_menus/src/Model/ItemModel.php
  api/components/com_installer/src/Controller/LanguagesController.php
  api/components/com_installer/src/View/Languages/JsonapiView.php
  libraries/src/Version.php
  plugins/filesystem/local/src/Extension/Local.php
Labels: PR-5.2-dev

#43456 [cypress] nested set table #__menu
  tests/System/integration/api/com_menus/SiteMenuItems.cy.js
  tests/System/support/commands/db.js
Labels: Unit/System Tests, PR-4.4-dev

#43519 [cypress] + com_languages
  tests/System/integration/administrator/components/com_languages/Installed.cy.js
  tests/System/integration/site/modules/mod_languages/Default.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43513 [cypress] mod_whosonline
  tests/System/integration/site/modules/mod_whosonline/Default.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43642 System Tests README extended
  tests/System/README.md
  tests/System/exclude.txt
  tests/System/images/README.md
  tests/System/images/system-tests-interactions.odg
  tests/System/images/system-tests-interactions.pdf
  tests/System/images/system-tests-interactions.svg
  tests/System/images/system-tests.odg
  tests/System/images/system-tests.pdf
  tests/System/images/system-tests.svg
Labels: Unit/System Tests, PR-4.4-dev

#43628 [4.4] Small spelling correction in dock blocks
  administrator/components/com_associations/src/Helper/AssociationsHelper.php
  administrator/components/com_installer/src/Model/DatabaseModel.php
  administrator/components/com_media/resources/scripts/components/modals/create-folder-modal.vue
  administrator/components/com_messages/src/Field/UserMessagesField.php
  build/media_source/com_associations/js/sidebyside.es5.js
  libraries/src/Form/Field/UserField.php
  libraries/src/HTML/Helpers/Select.php
  libraries/src/Helper/TagsHelper.php
  libraries/src/Layout/BaseLayout.php
  libraries/src/MVC/View/HtmlView.php
  plugins/quickicon/eos/src/Extension/Eos.php
  plugins/sampledata/testing/language/en-GB/en-GB.plg_sampledata_testing.ini
  plugins/system/schedulerunner/src/Extension/ScheduleRunner.php
Labels: RTC, NPM Resource Changed, PR-4.4-dev

#43600 [a11y] Fix missing aria-label in pagenavigation
  administrator/language/en-GB/plg_content_pagenavigation.ini
  plugins/content/pagenavigation/tmpl/default.php
Labels: RTC, Language Change, a11y, PR-4.4-dev

#43586 [4.4] Remove unused cassiopeia inline event handler
  templates/cassiopeia/component.php
  templates/cassiopeia/error.php
  templates/cassiopeia/index.php
  templates/cassiopeia/offline.php
Labels: RTC, PR-4.4-dev

#43596 Remove the newline character from the comment
  installation/sql/mysql/base.sql
Labels: RTC, PR-4.4-dev

#43654 [5.1] Upmerges 2024-06-15
  administrator/components/com_associations/src/Helper/AssociationsHelper.php
  administrator/components/com_installer/src/Model/DatabaseModel.php
  administrator/components/com_media/resources/scripts/components/modals/create-folder-modal.vue
  administrator/components/com_messages/src/Field/UserMessagesField.php
  administrator/language/en-GB/plg_content_pagenavigation.ini
  installation/sql/mysql/base.sql
  libraries/src/Form/Field/UserField.php
  libraries/src/HTML/Helpers/Select.php
  libraries/src/Helper/TagsHelper.php
  libraries/src/Layout/BaseLayout.php
  libraries/src/MVC/View/HtmlView.php
  plugins/content/pagenavigation/tmpl/default.php
  plugins/quickicon/eos/src/Extension/Eos.php
  plugins/sampledata/testing/language/en-GB/en-GB.plg_sampledata_testing.ini
  plugins/system/schedulerunner/src/Extension/ScheduleRunner.php
  templates/cassiopeia/component.php
  templates/cassiopeia/error.php
  templates/cassiopeia/index.php
  templates/cassiopeia/offline.php
  tests/README.md
  tests/System/README.md
  tests/System/exclude.txt
  tests/System/images/README.md
  tests/System/images/system-tests-interactions.odg
  tests/System/images/system-tests-interactions.pdf
  tests/System/images/system-tests-interactions.svg
  tests/System/images/system-tests.odg
  tests/System/images/system-tests.pdf
  tests/System/images/system-tests.svg
  tests/System/integration/administrator/components/com_installer/Languages.cy.js
  tests/System/integration/administrator/components/com_languages/Installed.cy.js
  tests/System/integration/administrator/components/com_plugins/Plugins.cy.js
  tests/System/integration/api/com_menus/SiteMenuItems.cy.js
  tests/System/integration/site/modules/mod_languages/Default.cy.js
  tests/System/integration/site/modules/mod_whosonline/Default.cy.js
  tests/System/plugins/fs.js
  tests/System/plugins/index.js
  tests/System/support/commands/config.js
  tests/System/support/commands/db.js
Labels: Unit/System Tests, Language Change, NPM Resource Changed, PR-5.1-dev

#43656 [cypress] System Tests fixes #43620, fixes #43622
  tests/System/integration/install/Installation.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43645 Fix chevron color in module menu assignment
  build/media_source/templates/administrator/atum/scss/blocks/_treeselect.scss
Labels: RTC, NPM Resource Changed, PR-5.2-dev

#43670 [5.2] Upmerge 2024-06-18
  administrator/components/com_associations/src/Helper/AssociationsHelper.php
  administrator/components/com_installer/src/Model/DatabaseModel.php
  administrator/components/com_media/resources/scripts/components/modals/create-folder-modal.vue
  administrator/components/com_messages/src/Field/UserMessagesField.php
  administrator/language/en-GB/plg_content_pagenavigation.ini
  installation/sql/mysql/base.sql
  libraries/src/Form/Field/UserField.php
  libraries/src/HTML/Helpers/Select.php
  libraries/src/Helper/TagsHelper.php
  libraries/src/Layout/BaseLayout.php
  libraries/src/MVC/View/HtmlView.php
  libraries/src/Version.php
  plugins/content/pagenavigation/tmpl/default.php
  plugins/quickicon/eos/src/Extension/Eos.php
  plugins/sampledata/testing/language/en-GB/en-GB.plg_sampledata_testing.ini
  plugins/system/schedulerunner/src/Extension/ScheduleRunner.php
  templates/cassiopeia/component.php
  templates/cassiopeia/error.php
  templates/cassiopeia/index.php
  templates/cassiopeia/offline.php
  tests/README.md
  tests/System/README.md
  tests/System/exclude.txt
  tests/System/images/README.md
  tests/System/images/system-tests-interactions.odg
  tests/System/images/system-tests-interactions.pdf
  tests/System/images/system-tests-interactions.svg
  tests/System/images/system-tests.odg
  tests/System/images/system-tests.pdf
  tests/System/images/system-tests.svg
  tests/System/integration/administrator/components/com_installer/Languages.cy.js
  tests/System/integration/administrator/components/com_languages/Installed.cy.js
  tests/System/integration/administrator/components/com_plugins/Plugins.cy.js
  tests/System/integration/api/com_menus/SiteMenuItems.cy.js
  tests/System/integration/site/modules/mod_languages/Default.cy.js
  tests/System/integration/site/modules/mod_whosonline/Default.cy.js
  tests/System/plugins/fs.js
  tests/System/plugins/index.js
  tests/System/support/commands/config.js
  tests/System/support/commands/db.js
Labels: Unit/System Tests, Language Change, NPM Resource Changed, PR-5.2-dev

#43662 [cypress] + com_checkin
  tests/System/integration/administrator/components/com_checkin/Default.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43633 [cypress] + com_cache
  tests/System/integration/administrator/components/com_cache/Default.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43663 [cypress] Rename deleteFolder to clarify function
  tests/System/README.md
  tests/System/integration/api/com_media/Files.cy.js
  tests/System/integration/install/Installation.cy.js
  tests/System/plugins/fs.js
  tests/System/plugins/index.js
  tests/System/support/commands/config.js
Labels: Unit/System Tests, PR-4.4-dev

#43655 [cypress] + com_mails
  tests/System/integration/administrator/components/com_mails/Templates.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43682 [5.1] Cypress com_cache joomla dialog fix
  tests/System/integration/administrator/components/com_cache/Default.cy.js
Labels: Unit/System Tests, PR-5.1-dev

#43492 [cypress] Fail in case of SMTP problems with a clear message
  tests/System/integration/administrator/components/com_config/Application.cy.js
  tests/System/integration/api/com_contact/Contacts.cy.js
  tests/System/integration/site/components/com_privacy/Request.cy.js
  tests/System/integration/site/components/com_users/Remind.cy.js
  tests/System/integration/site/components/com_users/Reset.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43673 Do real login test and also some invalid ones
  tests/System/integration/administrator/components/com_login/Login.cy.js
  tests/System/integration/administrator/components/com_media/Media.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43531 [cypress] + com_actionlogs
  tests/System/integration/administrator/components/com_actionlogs/Actionlogs.cy.js
  tests/System/integration/api/com_plugins/Plugins.cy.js
Labels: Unit/System Tests, PR-4.4-dev

#43676 [4.4] Move the Cypress Tests to ESM
  .drone.yml
  cypress.config.dist.mjs
  tests/System/plugins/db.mjs
  tests/System/plugins/fs.mjs
  tests/System/plugins/index.js
  tests/System/plugins/index.mjs
  tests/System/plugins/mail.mjs
  tests/System/support/commands.mjs
  tests/System/support/commands/api.mjs
  tests/System/support/commands/config.mjs
  tests/System/support/commands/db.mjs
  tests/System/support/index.js
Labels: Unit/System Tests, PR-4.4-dev

#43702 [cypress] ESM docu update
  package.json
  tests/System/README.md
  tests/System/images/system-tests-interactions.odg
  tests/System/images/system-tests-interactions.pdf
  tests/System/images/system-tests-interactions.svg
  tests/System/images/system-tests.odg
  tests/System/images/system-tests.pdf
  tests/System/images/system-tests.svg
Labels: Unit/System Tests, NPM Resource Changed, PR-4.4-dev

#43703 [4.4] ESM follow up changes
  build/build.php
Labels: PR-4.4-dev

#42467 [4.4] Set permission for add-module-to-dashboard button
  administrator/components/com_cpanel/tmpl/cpanel/default.php
Labels: RTC, bug, PR-4.4-dev
