Repository joomla/joomla-cms, pull requests merged in 2025-09, with the labels that each got.

#46030 [6.0] Upmerges - 2025-09-03
  installation/language/ca-ES/joomla.ini
  installation/language/cs-CZ/joomla.ini
  installation/language/fi-FI/joomla.ini
  installation/language/ta-IN/joomla.ini
  libraries/src/Event/Extension/BeforeJoomlaAutoupdateEvent.php
Labels: Test instructions missing, Language Change, PR-6.0-dev

#45969 [5.4] mod_articles - Show field "Show Article Images" also if introtext is truncated
  modules/mod_articles/mod_articles.xml
Labels: RTC, bug, PR-5.4-dev

#46058 [6.0] Upmerge - 2025-09-10
  build/media_source/mod_articles/css/mod-articles.css
  installation/language/af-ZA/joomla.ini
  installation/language/ar-AA/joomla.ini
  installation/language/be-BY/joomla.ini
  installation/language/bg-BG/joomla.ini
  installation/language/ca-ES/joomla.ini
  installation/language/cs-CZ/joomla.ini
  installation/language/cy-GB/joomla.ini
  installation/language/da-DK/joomla.ini
  installation/language/el-GR/joomla.ini
  installation/language/en-AU/joomla.ini
  installation/language/en-CA/joomla.ini
  installation/language/en-NZ/joomla.ini
  installation/language/en-US/joomla.ini
  installation/language/es-ES/joomla.ini
  installation/language/et-EE/joomla.ini
  installation/language/eu-ES/joomla.ini
  installation/language/fa-AF/joomla.ini
  installation/language/fa-IR/joomla.ini
  installation/language/fi-FI/joomla.ini
  installation/language/fr-CA/joomla.ini
  installation/language/fr-FR/joomla.ini
  installation/language/he-IL/joomla.ini
  installation/language/hr-HR/joomla.ini
  installation/language/hu-HU/joomla.ini
  installation/language/id-ID/joomla.ini
  installation/language/it-IT/joomla.ini
  installation/language/ja-JP/joomla.ini
  installation/language/ka-GE/joomla.ini
  installation/language/kk-KZ/joomla.ini
  installation/language/ko-KR/joomla.ini
  installation/language/lt-LT/joomla.ini
  installation/language/lv-LV/joomla.ini
  installation/language/mk-MK/joomla.ini
  installation/language/nl-BE/joomla.ini
  installation/language/nl-NL/joomla.ini
  installation/language/pl-PL/joomla.ini
  installation/language/pt-BR/joomla.ini
  installation/language/pt-PT/joomla.ini
  installation/language/ro-RO/joomla.ini
  installation/language/sk-SK/joomla.ini
  installation/language/sl-SI/joomla.ini
  installation/language/sr-YU/joomla.ini
  installation/language/sv-SE/joomla.ini
  installation/language/ta-IN/joomla.ini
  installation/language/th-TH/joomla.ini
  installation/language/tr-TR/joomla.ini
  installation/language/uk-UA/joomla.ini
  installation/language/ur-PK/joomla.ini
  installation/language/vi-VN/joomla.ini
  installation/language/zh-CN/joomla.ini
  installation/language/zh-TW/joomla.ini
  libraries/src/Form/Field/PredefinedlistField.php
  modules/mod_articles/mod_articles.xml
Labels: Test instructions missing, Language Change, NPM Resource Changed, PR-6.0-dev

#45823 [6.0] Revert "Remove the dispatch event functions in model and view (#45431)
  libraries/src/MVC/Model/BaseDatabaseModel.php
  libraries/src/MVC/View/AbstractView.php
  tests/Unit/Libraries/Cms/MVC/View/AbstractViewTest.php
Labels: RTC, Unit/System Tests, bug, PR-6.0-dev

#45854 [6.0] Reducing PHPStan baseline
  administrator/components/com_actionlogs/tmpl/actionlogs/default.php
  administrator/components/com_associations/tmpl/association/edit.php
  administrator/components/com_guidedtours/tmpl/steps/default.php
  administrator/components/com_guidedtours/tmpl/tours/default.php
  administrator/components/com_joomlaupdate/tmpl/joomlaupdate/preupdatecheck.php
  administrator/components/com_joomlaupdate/tmpl/upload/default.php
  administrator/components/com_scheduler/tmpl/select/default.php
  administrator/components/com_scheduler/tmpl/task/edit.php
  administrator/components/com_scheduler/tmpl/tasks/default.php
  administrator/components/com_users/tmpl/captive/select.php
  administrator/components/com_users/tmpl/method/backupcodes.php
  administrator/components/com_users/tmpl/method/edit.php
  administrator/components/com_users/tmpl/methods/default.php
  administrator/components/com_users/tmpl/methods/firsttime.php
  administrator/components/com_users/tmpl/methods/list.php
  administrator/components/com_users/tmpl/user/edit_groups.php
  components/com_users/tmpl/captive/default.php
  components/com_users/tmpl/captive/select.php
  components/com_users/tmpl/method/backupcodes.php
  components/com_users/tmpl/method/edit.php
  components/com_users/tmpl/methods/default.php
  components/com_users/tmpl/methods/firsttime.php
  components/com_users/tmpl/methods/list.php
  phpstan-baseline.neon
  plugins/content/pagebreak/tmpl/navigation.php
  plugins/editors/codemirror/layouts/editors/codemirror/codemirror.php
Labels: RTC, bug, PR-6.0-dev

#46092 [6.0] Update deleted files and folders in script.php for the upcoming 6.0.0-beta3
  administrator/components/com_admin/script.php
Labels: PR-6.0-dev

#46096 [6.0] Add the return URL base64 encoded to ensure it gets added to the logi…
  components/com_users/src/View/Login/HtmlView.php
Labels: RTC, bug, PR-6.0-dev

#46113 [5.4] Upmerge 2025-09-16
  administrator/components/com_scheduler/src/Model/LogModel.php
Labels: PR-5.4-dev

#46110 [6.0] Rename update SQL scripts from PR #45875
  administrator/components/com_admin/sql/updates/mysql/6.0.0-2025-09-16.sql
  administrator/components/com_admin/sql/updates/postgresql/6.0.0-2025-09-16.sql
Labels: PR-6.0-dev

#46112 [6.0] Update deleted files and folders in script.php to the changes from PR 45875
  administrator/components/com_admin/script.php
  build/deleted_file_check.php
Labels: PR-6.0-dev

#45967 [6.0] [Guided tours] Add a What's New tour
  administrator/components/com_admin/sql/updates/mysql/6.0.0-2025-09-17.sql
  administrator/components/com_admin/sql/updates/postgresql/6.0.0-2025-09-17.sql
  administrator/language/en-GB/guidedtours.joomla_whatsnew_6_0.ini
  administrator/language/en-GB/guidedtours.joomla_whatsnew_6_0_steps.ini
  build/media_source/com_guidedtours/images/6_0/cassiopeiacolors.jpg
Labels: Language Change, NPM Resource Changed, PR-6.0-dev, Guided Tours

#46105 [5.3] Sentence period
  cli/joomla.php
Labels: RTC, PR-5.3-dev

#46132 [5.3] Composer update joomla/oauth2 to 3.0.2 to fix case insensitive OAuth2Client authentication
  composer.lock
Labels: Composer Dependency Changed, bug, PR-5.3-dev

#46138 [5.4] Upmerge 2025-09-20
  administrator/components/com_admin/sql/updates/mysql/5.3.4-2025-09-19.sql
  administrator/components/com_admin/sql/updates/postgresql/5.3.4-2025-09-19.sql
  administrator/components/com_users/src/DataShape/CaptiveRenderOptions.php
  administrator/components/com_users/src/DataShape/SetupRenderOptions.php
  build/media_source/system/js/joomla-dialog.w-c.es6.js
  cli/joomla.php
  composer.lock
  installation/language/da-DK/joomla.ini
  installation/sql/mysql/supports.sql
  installation/sql/postgresql/supports.sql
  language/en-GB/langmetadata.xml
  libraries/src/Http/Transport/CurlTransport.php
  libraries/src/Http/Transport/SocketTransport.php
  libraries/src/Http/Transport/StreamTransport.php
  libraries/src/Schemaorg/SchemaorgPrepareDateTrait.php
  libraries/src/Version.php
  tests/System/integration/api/com_newsfeed/Categories.cy.js
  tests/System/integration/api/com_newsfeed/NewsFeed.cy.js
Labels: Unit/System Tests, Language Change, Composer Dependency Changed, NPM Resource Changed, PR-5.4-dev

#46142 [6.0] fix rel in guided tours for Whats new in 6
  administrator/language/en-GB/guidedtours.joomla_whatsnew_6_0_steps.ini
Labels: Language Change, PR-6.0-dev

#46141 [6.0] Fix/add missing file header PR #45967
  administrator/language/en-GB/guidedtours.joomla_whatsnew_6_0.ini
  administrator/language/en-GB/guidedtours.joomla_whatsnew_6_0_steps.ini
Labels: RTC, Language Change, bug, PR-6.0-dev

#46099 [5.4] Update Composer and NPM dependencies for 5.4.0-rc1
  composer.json
  composer.lock
  package-lock.json
  package.json
Labels: Composer Dependency Changed, NPM Resource Changed, PR-5.4-dev

#46098 [6.0] add missing string + punctuation TPL_CASSIOPEIA_EXTENDED_XML_DESCRIPTION
  language/en-GB/tpl_cassiopeia.ini
  language/en-GB/tpl_cassiopeia.sys.ini
Labels: RTC, Language Change, PR-6.0-dev

#46104 [6.0] Fix: Add script for list view in Grid helper method
  libraries/src/HTML/Helpers/Grid.php
Labels: RTC, bug, PR-6.0-dev

#45769 [6.0] Use ordering for menu ordering instead of title
  administrator/components/com_menus/src/Helper/MenusHelper.php
  administrator/components/com_menus/src/Model/ItemsModel.php
  libraries/src/Form/Field/MenuField.php
  libraries/src/HTML/Helpers/Menu.php
Labels: RTC, bug, PR-6.0-dev

#46157 [6.0] Update deleted files in script.php for the upcoming 6.0.0-rc1
  administrator/components/com_admin/script.php
Labels: PR-6.0-dev

#46164 [5.4] Fix alphabetic order of automated update language strings for installation
  installation/language/en-GB/joomla.ini
Labels: RTC, Language Change, bug, PR-5.4-dev

#46146 [5.3] Fix missing copyright in media assets
  build/build-modules-js/stylesheets/css-versioning.mjs
  build/build-modules-js/stylesheets/handle-css.mjs
  build/build-modules-js/stylesheets/handle-scss.mjs
  build/build.mjs
  build/build.php
  package.json
Labels: RTC, NPM Resource Changed, PR-5.3-dev

#46166 [5.4] Upmerge 2025-09-25
  build/build-modules-js/stylesheets/css-versioning.mjs
  build/build-modules-js/stylesheets/handle-css.mjs
  build/build-modules-js/stylesheets/handle-scss.mjs
  build/build.mjs
  build/build.php
  package.json
Labels: NPM Resource Changed, PR-5.4-dev

#46172 [5.4] Fix alphabetic order installation joomla.ini
  installation/language/en-GB/joomla.ini
Labels: RTC, Language Change, PR-5.4-dev

#46167 [5.4] Final update of Composer and NPM dependencies for 5.4.0-rc1
  composer.json
  composer.lock
  package-lock.json
  package.json
Labels: Composer Dependency Changed, NPM Resource Changed, PR-5.4-dev
